body {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 56px;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  p {
    color: #666666;
    font-size: 1.1rem;
  }

  strong, a {
    color: #701212;
    transition: all .350s ease;
  }

  .heading-2 {
    text-transform: uppercase;
    color: #393939;
  }

  .leggi-tutto {
    transition: all .500s ease;
  }

  .leggi-tutto:hover {
    letter-spacing: 2px !important;
  }

  @media screen and (max-width: 767px) {
    .aside {
      padding-left: 0.5rem !important;
    }
  }